body html{
   height: 100%;
    
}
h1{
    font-size: 400%;
    text-align: center;
    color: aliceblue;
    background-image: radial-gradient(darkblue skyblue);
    border: black solid 0px;
    margin: 20px 0px 40px 0px;
    background-image: linear-gradient(rgb(161, 231, 161), green);
  
}
.top-part{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('image/back1.png');
    background-size: cover; 
    height: 800px; 
    padding-top:80px;
}
#gsearch{
    font-size: xx-large;
}
.search-tag{
    font-size: xx-large;
    font-family: 'Otomanopee One', sans-serif;
    color:white
}
.search-part{
    text-align: center;
}
.txt-clr{
    color: orange;
}
h2{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 40px
}
h3{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 29px;
    text-align: justify;
    
}
p{
    color: gray;
    font-size:  20px; 
    font-weight: 500;
}
.second-part{
    display: flex;
    background-image: url(image/Frame\ 57.jpg);
    background-size: cover;
    background-position: center;
}
.second-part-full{
    width: 50%;
    padding-top: 40px;
    padding-left: 12%;
    text-align:left;
}
.second-part-full img{
    width: 100%;
    padding-right: 10%;

}
.order-button{ 
    text-decoration: none;
    padding: 6px 10px 6px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px; 
    border: white solid 2px;  
    background-image: radial-gradient(rgb(236, 151, 120),rgb(231, 68, 9));
   
}
.third-part{
    display: flex;
    background-image: url(image/Frame\ 59.jpg);
    background-size: 100%;
    background-position:top;
}
.third-part-full{
    width: 100%;
    padding-right: 20%;
    padding-top:  3%; 
    text-align: justify ;
}

.third-part-full img{
    width: 120%;
    padding-left: 10%;
}
.read-button{
    text-decoration: none;
    padding: 6px 10px 6px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px; 
    border: white solid 2px;  
    background-image: radial-gradient(rgb(48, 209, 238),rgb(12, 111, 204));
}

.forth-part-head{
    width: 34%;
    border: white solid 2px;
    padding: 20px 40px 0px 40px;
   
    text-align: center;
    margin-bottom: 2%;
    margin-left: 30%;
}
.forth-part-head h3{
    text-align: center;
}

.forth-part{
    display: flex;
    margin-bottom: 100px;
}
.forth-part-full{
    width:20%;
    margin-left:5%;
    margin-right: 6%;
    padding:14px;
    border-radius: 10px;
    box-shadow: 8px 8px 30px gray;

}
.forth-part-full img{
    width: 100%;
    height: 20%;
    border-radius: 10px;
}

.fifth-part{
    display: flex;
    margin-bottom: 100px;
    background-image: url(image/Frame\ 58.jpg);
}
.fifth-part-left{
    margin-left:5%;
    margin-right: 6%;
    text-align: center;
  
}
.fifth-part-right{
    margin-right: 5%;
    margin-left: 20% ;
    text-align: center;
}
footer{
    background-color: black;
  
}
footer h3{
 padding-top: 30px;
    color: green;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
}
footer p{
    color: white;
    text-align: center;
    padding-bottom: 70px;
}
